body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.playerBox{
  background-color: aquamarine;
}

.champion{
  margin-top: 10px;
  background-color: greenyellow;
  width: 50%;

}

