body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.goldbox{
  background-color: aquamarine;
  width:100%;
  margin-bottom:10px;
}

.dmgbox{
  margin-bottom:10px;
  background-color: greenyellow;
  width: 100%;

}

.enemy{
  margin-top: 50%;
  width: 100%;
}

.attackbutton{
  border:0;

}

button{
  background-color: transparent;
  outline-color: transparent;
  outline-width: 0px;
  border:0px;


}
