body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.goldbox{
  background-color: gold;
  width:100%;
  margin-bottom:10px;
  border-radius: 15px;

}

.dmgbox{
  margin-bottom:10px;
  background-color: rgb(100, 180, 104);
  width: 100%;
  border-radius: 20px;

}
.background{
background-image: inherit;
background-position: center;
background-size: cover;
background-Repeat: no-repeat;
}

.enemy{
  margin-top: 50%;
  width: 100%;
}

.attackbutton{
  border:0;
}

button{
  background-color: transparent;
  outline-color: transparent;
  outline-width: 0px;
  border:0px;


}
